{{#if orders}}
{{#each orders as |order|}}
<h2>Order</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#order.orderItems}}
    <tr>
      <td>{{name}}</td>
      <td>{{description}}</td>
      <td>{{price}}</td>
    </tr>
    {{/order.orderItems}}
  </tbody>
  <table>
{{/each}}
{{else}}
<p>You don't have any past orders yet.</p>
{{/if}}
