$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css');

body {
  padding-top: 65px;

  .display-when-logged-in {
    display: none;
  }
  .message {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.panel-body {
  height: 130px;
}

.panel-heading{
  font-family: 'Oswald', sans-serif;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.panel {
  text-align: center;
}

.price {
  font-size: 18px;
}

h3 {
  font-size: 30px;
}

.checkout-button {
  display: none;
}

@media (max-width: 1200px) {
  h3 {
    font-size: 25px;
  }
}

@media (max-width: 950px) {
  h3 {
    font-size: 22px;
  }
}

.form-horizontal {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}
